apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  annotations:
    run.googleapis.com/build-enable-automatic-updates: 'false'
    run.googleapis.com/build-id: e8ae2037-9c57-49d8-8b41-ebd9f5c1e241
    run.googleapis.com/build-image-uri: asia-south1-docker.pkg.dev/tbsignalstream/cloud-run-source-deploy/trading-bot-service
    run.googleapis.com/build-name: projects/818546654122/locations/asia-south1/builds/e8ae2037-9c57-49d8-8b41-ebd9f5c1e241
    run.googleapis.com/build-source-location: gs://run-sources-tbsignalstream-asia-south1/services/trading-bot-service/1766437685.368228-f29d53f6330c46f79441728de86ca058.zip#1766437685355564
    run.googleapis.com/client-name: gcloud
    run.googleapis.com/client-version: 547.0.0
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
    run.googleapis.com/operation-id: cb5ff004-eafb-4d5a-ae66-dfde2d8313a3
    run.googleapis.com/urls: '["https://trading-bot-service-818546654122.asia-south1.run.app","https://trading-bot-service-vmxfbt7qiq-el.a.run.app"]'
    serving.knative.dev/creator: tpbansode01@gmail.com
    serving.knative.dev/lastModifier: tpbansode01@gmail.com
  creationTimestamp: '2025-12-02T20:00:18.958192Z'
  generation: 102
  labels:
    cloud.googleapis.com/location: asia-south1
    run.googleapis.com/satisfiesPzs: 'true'
  name: trading-bot-service
  namespace: '818546654122'
  resourceVersion: AAZGo5SzNOo
  selfLink: /apis/serving.knative.dev/v1/namespaces/818546654122/services/trading-bot-service
  uid: 26f68705-22bb-45ae-a6ee-522d4faa810b
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: '10'
        autoscaling.knative.dev/minScale: '1'
        run.googleapis.com/client-name: gcloud
        run.googleapis.com/client-version: 547.0.0
        run.googleapis.com/startup-cpu-boost: 'true'
        run.googleapis.com/vpc-access-connector: trading-bot-connector
        run.googleapis.com/vpc-access-egress: all-traffic
      labels:
        client.knative.dev/nonce: unrftkbofs
        run.googleapis.com/startupProbeType: Default
    spec:
      containerConcurrency: 80
      containers:
      - env:
        - name: ANGELONE_TRADING_API_KEY
          valueFrom:
            secretKeyRef:
              key: latest
              name: ANGELONE_TRADING_API_KEY
        - name: ANGELONE_TRADING_SECRET
          valueFrom:
            secretKeyRef:
              key: latest
              name: ANGELONE_TRADING_SECRET
        - name: ANGELONE_CLIENT_CODE
          valueFrom:
            secretKeyRef:
              key: latest
              name: ANGELONE_CLIENT_CODE
        - name: ANGELONE_PASSWORD
          valueFrom:
            secretKeyRef:
              key: latest
              name: ANGELONE_PASSWORD
        - name: ANGELONE_TOTP_SECRET
          valueFrom:
            secretKeyRef:
              key: latest
              name: ANGELONE_TOTP_SECRET
        - name: ANGEL_API_KEY
          value: SecretManager
        - name: ANGEL_API_SECRET
          value: SecretManager
        - name: ANGEL_CLIENT_ID
          value: SecretManager
        - name: ANGEL_PASSWORD
          value: SecretManager
        - name: ANGEL_TOTP_SECRET
          value: SecretManager
        - name: FIREBASE_PROJECT_ID
          value: tbsignalstream
        - name: FIREBASE_PRIVATE_KEY
          value: SecretManager
        - name: FIREBASE_CLIENT_EMAIL
          value: SecretManager
        image: gcr.io/tbsignalstream/trading-bot-service:diagnostic
        ports:
        - containerPort: 8080
          name: http1
        resources:
          limits:
            cpu: '2'
            memory: 2Gi
        startupProbe:
          failureThreshold: 1
          periodSeconds: 240
          tcpSocket:
            port: 8080
          timeoutSeconds: 240
        volumeMounts:
        - mountPath: /app
          name: firestore-key-xag-jus
      serviceAccountName: 818546654122-compute@developer.gserviceaccount.com
      timeoutSeconds: 600
      volumes:
      - name: firestore-key-cet-joc
        secret:
          items:
          - key: latest
            path: firestore-key.json
          secretName: firestore-key
      - name: firestore-key-xag-jus
        secret:
          items:
          - key: latest
            path: firestore-key.json
          secretName: firestore-key
  traffic:
  - latestRevision: true
    percent: 100
status:
  address:
    url: https://trading-bot-service-vmxfbt7qiq-el.a.run.app
  conditions:
  - lastTransitionTime: '2025-12-23T19:30:48.596599Z'
    message: |-
      The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=tbsignalstream&resource=cloud_run_revision/service_name/trading-bot-service/revision_name/trading-bot-service-00100-p56&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22trading-bot-service%22%0Aresource.labels.revision_name%3D%22trading-bot-service-00100-p56%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    reason: HealthCheckContainerError
    status: 'False'
    type: Ready
  - lastTransitionTime: '2025-12-23T19:30:48.509456Z'
    message: |-
      The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=tbsignalstream&resource=cloud_run_revision/service_name/trading-bot-service/revision_name/trading-bot-service-00100-p56&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22trading-bot-service%22%0Aresource.labels.revision_name%3D%22trading-bot-service-00100-p56%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    reason: HealthCheckContainerError
    status: 'False'
    type: ConfigurationsReady
  - lastTransitionTime: '2025-12-23T19:30:48.596599Z'
    message: |-
      The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable within the allocated timeout. This can happen when the container port is misconfigured or if the timeout is too short. The health check timeout can be extended. Logs for this revision might contain more information.

      Logs URL: https://console.cloud.google.com/logs/viewer?project=tbsignalstream&resource=cloud_run_revision/service_name/trading-bot-service/revision_name/trading-bot-service-00100-p56&advancedFilter=resource.type%3D%22cloud_run_revision%22%0Aresource.labels.service_name%3D%22trading-bot-service%22%0Aresource.labels.revision_name%3D%22trading-bot-service-00100-p56%22 
      For more troubleshooting guidance, see https://cloud.google.com/run/docs/troubleshooting#container-failed-to-start
    reason: HealthCheckContainerError
    status: 'False'
    type: RoutesReady
  latestCreatedRevisionName: trading-bot-service-00100-p56
  latestReadyRevisionName: trading-bot-service-00098-v8t
  observedGeneration: 102
  traffic:
  - latestRevision: true
    percent: 100
    revisionName: trading-bot-service-00098-v8t
  url: https://trading-bot-service-vmxfbt7qiq-el.a.run.app
